body{
    background-color: #f2f2f2 !important; 
}

.StudentsPage{
    padding: 20px;
    padding-bottom: 0px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;

    .Title{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #4d88ff;
        margin-bottom: 15px;
    }

    .HeadBar{
        display: flex;

        .AddButton{
            flex: 1;
            position: relative;
            align-items: flex-end;

            a {
                background: #3385ff;
                border-radius: 4px;
                font-size: 16px;
                color: #FFFFFF;
                padding: 10px 20px;
                display: inline-block;
                margin-bottom: 10px;
                text-decoration: none;
            }

            svg {
                font-size: 16px;
                margin-right: 10px;
            }

            &:hover, &:active, &:focus {
                text-decoration: none;
                outline: none;
            }
        }

        .SearchButton{
            flex: 1;
            position: relative;

            input {
                width: 200px; 
                height: 35px;
                background: #FFFFFF;
                border: 1px solid #e8e8e8;
                border-radius: 4px;
                padding-left: 10px;
                right: 0px;
                position: absolute;
                font-size: 16px;

                &:active, &:focus {
                    outline: 0;
                }

                &::-webkit-input-placeholder, &::moz-placeholder, &:-ms-input-placeholder, &:-moz-placeholder { /* Chrome/Opera/Safari */
                    font-style: normal;
                    font-weight: normal;
                    line-height: 21px;
                    font-size: 14px;
                    color: #B2B2B2;
                }
            }

            svg{
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-80%);
            }
        }
    }

    .ListStudents{
        text-align: center;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;

        .Table{
            border-collapse: collapse;
            background-color: #ffffff;
            border: 1px solid #e8e8e8;
            margin-left:auto; 
            margin-right:auto;
            table-layout: auto;
            width: 100%;

            th, td {
                padding: 10px;
                border: 1px solid #e8e8e8;
            }

            .Student{
                color: black;
    
                img{
                    width: 80px;
                    border: 1px solid #e8e8e8;
                }
                
                .Action{
                    color: #ffffff;
                    margin: 5px;
                    border-radius: 4px;
                    padding: 7px 15px;
                    text-decoration: none;

                    .icon{
                        margin: 0px 5px;
                    }
                }

                .Edit{
                    background-color: #3385ff;
                }

                .Delete{
                    background-color: #ff3300;
                }
            }
        }

    }

    .pagination{
        justify-content: flex-end;
        font-style: normal;
        font-weight: normal;
        line-height: normal;
        font-size: 13px;
        text-align: center;
        color: #2C3E50;

        .page-item{
            margin-left: 5px;

            &.disabled {
                opacity: 0.5;
                cursor: auto;
            }
        }

        .Break{
            padding: 0 4px;

            span {
                padding: 11px 5px;
                display: inline-flex;
            }
        }

        .page-link{
            background: #FFFFFF;
            border: 1px solid #E8E8E8;
            border-radius: 5px;
            min-width: 40px;
            color: #2C3E50;
            padding: 11px 12px;

            &:hover, &:active, &:focus {
                outline: none;
                box-shadow: none;
            }
        }
    }
}